.nav .item {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item:last-child{
    margin-top: auto;
}
.item .text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    text-align: center;
}
