.texts-container, .ss-item, .selects-container {
    margin: 10px 0 30px;
}
.texts-container .text {
    line-height: 35px;
}
.texts-container .text-title{
    font-size: 32px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.8);
}
.texts-container .text-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.texts-container .text-regular{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
}
.ss-item .text,
.selects-container .label,
.pre-post-show-btn .text {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}
.ss-item {
    display: flex;
    flex-direction: column;
}
.ss-item .plate {
    background-color: rgba(238,254,241,255);
    padding: 3px;
    margin-top: 10px;
    width: fit-content;
    border: 1px solid  rgba(192,239,195,255);
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
.selects-container {
    display: flex;
    flex-wrap: wrap;
}
.selects-container .select-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 60px 20px 0;
}
.select-box .select, 
.pre-post-show-btn,
.table-container .label,
.table-container .table {
    box-shadow: 1px 1px 2px  rgba(255,255,255, 0.2);
}
.select-box .select, 
.pre-post-show-btn,
.table .row {
    height: 40px;
}
.select-box .select, 
.pre-post-show-btn {
    border-radius: 3px;
}
.select-box .select {
    width: 450px;
    border: 1px solid rgba(116,169,214,255);

}
.pre-post-show-btn, .table-container{
    width: 100%;
}
.pre-post-show-btn {
   background-color: white;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.pre-post-show-btn .fa {
    margin: 0 20px;
    font-size: 18px;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.7)
}
#checkBtn, #icon-up{
    display: none;
}
#checkBtn:checked ~ #table-container{
    display: block;
}
#checkBtn:checked ~ #icon-up{
    display: block;
}
#table-container{
    display: none;
}
.table-container .label,
.table-container .table .head-row{
    background-color: rgba(20,112,188,255);
}
.table-container .label{
    width: fit-content;
    margin: 20px 0 20px auto;
    padding: 0 10px;
    border-radius: 5px;
    color: white;

    line-height: 30px;
}
.table-container .table {
    width: 100%;
}
.table{
  border-spacing: 0;
}
.table .row {
    width: 100%;
}
.table .row .cell {
    border-right: 0.1px solid white;
    border-bottom: 0.1px solid white;
    width: calc(100%  / 5);
    text-align: start;
    padding-left: 10px;
    font-size: 14px;
}
.table .row:last-child .cell {
    border-bottom: none;
}
.table .row .cell:last-child {
    border-right: none;
}
.table .search-row, 
.table .row .cell-qm .qm {
    background-color: rgba(205,228,249,255);
}
.table .head-row .cell{
    color: white;
}
.table .search-row .cell,
.table-container .table .row .cell.dots {
    color: rgba(20,112,188,255);
}
.table .row .dots {
    text-align: center;
    font-size: 20px;
}
.table .last-row{
    background-color: white;
}
.table .last-row .cell-qm .qm {
    padding: 1px;
    width: 16px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}
.arrow-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 18px;
    border: 1px solid rgba(233,239,245,255);
    border-radius: 100%;
    top: 40px;
    left: -10px;
    z-index: 2;
}
.arrow-circle .fa{
    font-size: 18px;
    font-weight: 600;
    color:rgba(31,116,190,255);
}
