@import './const.css';

.breadcrumb {
    margin-bottom: 20px;
}
.breadcrumb .text {
    font-size: 14px;
    font-weight: 600;
}
.breadcrumb .text-black{
    color: var(--color-text-08);
}
.breadcrumb .text-blue {
    color: var(--color-blue);
}
.aside .title-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.title-container .title{
    font-size: 28px;
    font-weight: bolder;
    color: var(--color-text-08);
}
.aside .dots {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-blue-dots)
}
.wheat-item {
    display: flex;
    align-items: center;
}
.wheat-item .text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.wheat-item .dots {
    margin-left: auto;
}
.item-rows-container{
    width: 85%;
    margin-left: auto;
}
.item-rows-container .item-row {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--color-grey);
}
.item-row .text {
    font-size: 14px;
    font-weight: 600;
}
.item-row .icon-box {
    margin-left: auto;
    border: 1px solid var(--color-text-01);
    width: 14px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box .fa {
    color:  var(--color-text-01);
    font-size: 12px;
}
.add-crop-container{
    height: 40px;
    margin-top: auto;
    border-top: 1px solid var(--color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
