.logo .image {
    width: 100px;
    height: 100px;
}
.header .bar{
    width: calc( 100% - 100px );
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bar .title {
    margin: 0 20px;
    font-size: 24px;
    font-weight: 800;
}
.bar .title, .menu-container .select  {
    color: rgba(0, 0, 0, 0.7);
}
.menu-container, .settings-container {
    display: flex;
}
.bar .settings-container {
    margin-left: auto;
}
.menu-container .select, .settings-container .select {
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.menu-container .select {
    margin-right: 20px;
}
.settings-container .select{
    color: rgba(31,116,190,255);
    margin-right: 20px;
}
