body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
select{
    cursor: pointer;
}

.header{
    height: 100px;
    width: 100%;
    display: flex;
}
.nav, .aside, .main {
    height: calc(100% - 100px);
}
.nav, .aside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.aside {
    width: 400px;
    padding: 40px;
    padding-bottom: 5px;
    border-top: 1px solid rgba(233,239,245,255);
    border-left: 1px solid rgba(233,239,245,255);
}
.nav {
    width: 100px;
    padding: 20px 0 10px 0;
}
.main {
    box-sizing: border-box;
    width: calc(100% - 100px - 400px);
    padding: 60px;
    background-color: rgba(233,239,245,255);
    position: relative;
    z-index: 1;
}