.main {
    box-sizing: border-box;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    padding: 60px;
    background-color: rgba(233,239,245,255);
}
.texts-container, .ss-item, .selects-container {
    margin: 10px 0 30px;
}
.texts-container .text-1,
.texts-container .text-2,
.texts-container .text-3 {
    line-height: 35px;
}
.texts-container .text-1{
    font-size: 32px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.8);
}
.texts-container .text-2{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.texts-container .text-3{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
}
.ss-item .text,
.selects-container .label,
.pre-post-show-btn .text,
.table .row .cell {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}
.ss-item {
    display: flex;
    flex-direction: column;
}
.ss-item .plate {
    background-color: rgba(238,254,241,255);
    padding: 3px;
    margin-top: 10px;
    width: fit-content;
    border: 1px solid  rgba(192,239,195,255);
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
.selects-container {
    display: flex;
    flex-wrap: wrap;
}
.selects-container .select-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 60px 20px 0;
}
.select-box .select, 
.pre-post-show-btn,
.add-crops-container .label,
.add-crops-container .table {
    box-shadow: 1px 1px 2px  rgba(255,255,255, 0.2);
}
.select-box .select, 
.pre-post-show-btn,
.table .row {
    height: 40px;
}
.select-box .select, 
.pre-post-show-btn {
    border-radius: 3px;
}
.select-box .select {
    width: 450px;
    border: 1px solid rgba(116,169,214,255);

}
.pre-post-show-btn, .add-crops-container{
    width: 75%;
}
.pre-post-show-btn {
   background-color: white;
   display: flex;
   align-items: center;
}
.pre-post-show-btn .fa {
    margin: 0 20px;
    font-size: 18px;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.7)
}
.pre-post-show-btn .fa-angle-down{
    display: none;
}
.add-crops-container .label,
.add-crops-container .table .head-row{
    background-color: rgba(20,112,188,255);
}
.add-crops-container .label{
    width: fit-content;
    margin: 20px 0 20px auto;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.add-crops-container .table {
    width: 100%;
}
.table{
  border-spacing: 0;
}
.table .row {
    width: 100%;
}
.table .row .cell {
    border-right: 0.1px solid white;
    border-bottom: 0.1px solid white;
    width: calc((100% - 2px) / 5);
    text-align: start;
    padding-left: 10px;
}
.table .row:last-child .cell {
    border-bottom: none;
}
.table .row .cell:last-child {
    border-right: none;
}
.table .search-row, 
.table .row .cell-qm .qm {
    background-color: rgba(205,228,249,255);
}
.table .head-row .cell{
    color: white;
}
.table .search-row .cell,
.table .row .cell .dots {
    color: rgba(20,112,188,255);
}
.table .row .dots {
    text-align: center;
    font-size: 20px;
}
.table .last-row{
    background-color: white;
}
.table .last-row .cell-qm .qm {
    padding: 1px;
    width: 16px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}
